<div class="row">


<% if @link.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@link.errors.count, "error") %> prohibited this post from being saved:</h2>

    <ul>
    <% @link.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= simple_form_for @link do |f| %>
  <%= f.input :slug, required: :false %>
  <%= f.input :target_url %>
  <%= f.button :submit %>
<% end %>
</div>